//colors for light theme
$primary-bg: #e3e3e3;
$second-accent-color: #ff9a64;
$primary-accent-color: #f16d00;
$font-color: #000;

//dark theme
$primary-bg-darkm: darken($primary-bg, 75%);
$second-accent-color-darkm: darken($second-accent-color, 5%);
$primary-accent-color-darkm: lighten($primary-accent-color, 10%);
$font-color-darkm: #fff;

//fonts & text
$primary-font: "open sans", verdana;
$standard-line-height: 2.5rem;

//margin & padding
$title-margin: 2rem;
$section-margin-bottom: 3%;
$heading-padding: 3%;
$foot-head-padd: 2%;
